* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

nav{
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
}

.hero{
    background-image: url(../images/hero.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title1{
    font-size: 100px;
    font-family: Raleway;
    color: #fff;
    position: relative;
    top: 200px;
    left: 200px;

}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #fff;
}

.title{
    font-size: 100px;
    font-family: Raleway;
}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
}

footer {
    height: 50px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    width: 100%;
    font-family: Raleway;
  }
  